.height-width {
    margin-top: -1%;
    margin-left: 9%;
}

.post-box {
    width: 25vw;
    height: 50vh;
    border: 1px solid black;
    margin-right: 3%;
    margin-top: 3%;
}

.images-insta {
    width: 25vw;
    height: 50vh;
    /* margin-top: -15%; */
}

@media only screen and (max-width: 900px) {
    .post-box {
        height: 15vh;
        width: 32vw;
        margin-right: 1%;
        margin-bottom: -1%;
        position: relative;
        top: -10px;
        left: 1%;
    }

    .images-insta {
        width: 30vw;
        height: 15vh;
    }

    .height-width {
        margin-left: 0%;
        margin-right: 0%;
    }
    
}